package ${package}.api.mapper;

import ${package}.api.entity.${className};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 *
 * @author ${author}
 * @version 1.0
 * @desc
 * @date ${datetime}
 */

@Mapper
@Repository
public interface ${className}Mapper {
	
}
